img {
  float: left;
  width: 20%
}
@media screen and (min-width: 480px) {
    body {
        background-color: black;
        color: white;
    }
}

@media screen and (min-width: 768px) {
  body {
    background-color: gray;
  }
}
h1 {
  font-style: italic;
  color: black;
}
h2 {
  font-style: italic;
  color: black;
}
.sidebar {
  width: 80%;
  float: left;
  background-color: purple;
}
.author {
color: blue;
}

p.author {
font-size: 15px;
}
.column {
    width: 350px;
    float: left;
  }
  h1 {
    font-style: italic;
    color: black;
  }
  h2 {
    font-style: italic;
    color: black;
  }
  h3 {
    font-style: italic;
    color: black;
  }
  .test-box {
    border-left: 2px solid red;
    border-right: 4px solid blue;
    border-top: 6px solid orange;
    border-bottom: 8px solid black;
  }
  .test-box {
border: 2px solid red;
padding: 6px;
margin: 20px;
background-color: skyblue;
}
.skills p {
  background-color: coral;
}

.current interests p {
  background-color: steelblue;
}
.line1 {
  color: purple;
}
#line2 {
  color: purple;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
