header {
  background-color: pink;
  height: 500px;
}

.awe {
  text-align: center;
  background-image: url(/home/angela/Documents/banana/O.jpg);
  margin: 50px;
  background-color: transparent;
  padding: 100px;
}

#mainnav {
  background-color: transparent;
}

.fixed-top {
  position: fixed;
}

li {
  line-height: 2;
}
