header {
  background-color: transparent;
  height: 500px;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.awe {
  text-align: center;
  background-color: transparent;
}

#mainnav {
  background-color: transparent;
}

.fixed-top {
  position: fixed;
}

li {
  line-height: 2;
}

img {
  padding: 150px;
  margin: 50px;
  width: 150px;
  height: 60px;
}
